.ipynb_checkpoints
.sass-cache
__pycache__
docs/_build/jupyter_execute
docs/_build/.jupyter_cache
docs/_build/.doctrees
oldbook
_build
*.bkp
*.log
book/reports
venv
venv2
.cache
.vscode
.venv

.DS_Store